
body {
	font-family: Arial, sans-serif;
	line-height: 20px;
}

.teploizol_form_main .hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
input[placeholder] {
	font-family: OpenSans;
	text-indent: 3px;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.input_label {
	font-size: 14px;
}


/*кастомный чекбокс (начало)*/

.teploizol_form_main .custom-lable {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.teploizol_form_main .checkboxs-lable-title {
	font-weight: 600;
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom: 10px;
}


.teploizol_form_main label>input {
	display: none;
}

.teploizol_form_main label i {
	padding: 2px;
	width: 40px;
	height: 20px;
	border-radius: 13px;
	vertical-align: middle;
	-webkit-transition: 0.15s 0.09s;
	-o-transition: 0.15s 0.09s;
	transition: 0.15s 0.09s;
	position: relative;
	background: #869e86;
	-webkit-box-sizing: initial;
	        box-sizing: initial;
	margin-bottom: 10px;
}

.teploizol_form_main label i:after {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 2px;
	/*top: 1.5px;*/
	-webkit-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}

.teploizol_form_main label>input:checked+i {
	background: #4bd865;
}

.teploizol_form_main label>input:checked+i:after {
	-webkit-transform: translateX(20px);
	    -ms-transform: translateX(20px);
	        transform: translateX(20px);
}

.teploizol_form_main label:hover {
	cursor: pointer;
}
/*кастомный чекбокс (конец)*/



.teploizol_form_main .podskazka {
		display: none;
		position: absolute;
		border-radius: 4px;
		right: 42px;
		top: 38px;
		background-color: #4bc970;
		color: rgb(255 255 255);
		padding: 5px;
		text-align: center;
		-webkit-box-shadow: 0 1px 1px rgb(61 175 95);
		        box-shadow: 0 1px 1px rgb(61 175 95);
		font-size: 12px;
	}

	.teploizol_form_main .podskazka::after {
		content: '';
		position: absolute;
		left: 74px;
		bottom: 8px;
		border: 6px solid transparent;
		border-left: 10px solid #4bc970;
	}
	.teploizol_form_main .copy-form:hover+.podskazka {
		display: block;
		transition: all 0.8s 0.6s ease;
		-webkit-transition: all 0.8s 0.6s ease;
		-moz-transition: all 0.8s 0.6s ease;
		-o-transition: all 0.8s 0.6s ease;
	}

	.teploizol_form_main form {
		width: 300px;
		margin: 10px auto;
		padding: 10px 20px;
		background: #f4f7f8;
		border-radius: 8px;
	}
	
	.teploizol_form_main .input-style {
		background: rgba(255, 255, 255, 0.1);
		border: none;
		border-radius: 4px;
		font-size: 16px;
		height: auto;
		margin: 0;
		outline: 0;
		padding: 7px;
		width: 95%;
		background-color: #e8eeefb0;
		color: #8a97a0;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		margin-bottom: 5px;
	}

	.teploizol_form_main .input-style:hover {
		background: rgb(224, 236, 236);
	}
	.teploizol_form_main .input-style:active {
		background: rgb(229, 240, 240);
	}
	.teploizol_form_main .input-style:focus {
		outline: rgb(84, 165, 46);
	}
	/* Убираются стрелочки у input[type=number] */
	.teploizol_form_main input[type="number"]::-webkit-outer-spin-button,
	.teploizol_form_main input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.teploizol_form_main input[type="number"] {
		-moz-appearance: textfield;
	}
	.teploizol_form_main input[type="number"]:hover,
	.teploizol_form_main input[type="number"]:focus {
		-moz-appearance: number-input;
	}
	.teploizol_form_main input[type=number]::-webkit-inner-spin-button,
	.teploizol_form_main input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	select.select-selected.input-style {
		width: 198x;
	}
	
	.teploizol_form_main input[type="radio"],
	.teploizol_form_main input[type="checkbox"] {
		margin: 0 4px 8px 0;
	}
	.teploizol_form_main select {
		padding: 6px;
		height: 32px;
		border-radius: 2px;
	}
	.teploizol_form_main button {
		padding: 19px 39px 18px 39px;
		color: #FFF;
		background-color: #4bc970;
		font-size: 15px;
		text-align: center;
		font-style: normal;
		border-radius: 5px;
		width: 100%;
		border: 1px solid #3ac162;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		margin-bottom: 10px;
	}
	.teploizol_form_main .add-form-btn {
		width: 250px;
		text-align: center;
		background-color: #4bc970;
		fill: white;
		color: white;
		padding: 8px 8px;
		margin: 14px 0 8px 0;
		display: flex;
		justify-content: space-evenly;
		border: 0.5px solid #31c15c;
		outline: none;
		border-radius: 4px;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		cursor: pointer;
	}
	.teploizol_form_main .show-form-btn {
		width: 250px;
		text-align: left;
		background-color: #d8d9db;
		fill: white;
		color: white;
		padding: 8px 8px;
		margin: 14px 0 8px 0;
		display: flex;
		justify-content: space-evenly;
		border: 0.5px solid #c0c0c0;
		outline: none;
		border-radius: 4px;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		cursor: pointer;
	}
	.teploizol_form_main .add-form-btn:hover {
		background-color: #31c15c;
		fill: rgb(250, 253, 54);
		cursor: pointer;
	}
	.teploizol_form_main .add-form-btn:active {
		background-color: #4bc970;
		fill: rgb(250, 253, 54);
		cursor: pointer;
	}
	.teploizol_form_main .show-form-btn:hover {
		background-color: #cccccc;
		fill: rgb(255, 255, 255);
	}
	.teploizol_form_main .show-form-btn:active {
		background-color: #09d5db;
		fill: rgb(254, 254, 254);
		border: 0.5px solid #1ec6cc;
		outline: none;
		border-radius: 4px;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 #1dd2d9 inset;
		box-shadow: 0 -1px 0 #1dd2d9 inset;
	}
	.teploizol_form_main .copy-form {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: none;
		cursor: pointer;
		background: none;
		display: block;
		border: none;
		cursor: pointer;
		background: none;
		margin: 41px 10px 0 0px;
	}
	.teploizol_form_main .remove-form-btn {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: none;
		cursor: pointer;
		background: none;
		display: block;
		border: none;
		cursor: pointer;
		background: none;
		margin: 7px 10px 0 0px;
	}
	.teploizol_form_main .copy-form:hover {
		fill: rgb(21, 158, 21);
		outline: none;
		border: none;
		cursor: pointer;
		background: none;
	}
	.teploizol_form_main .remove-form-btn:hover {
		fill: red;
		outline: none;
		border: none;
		cursor: pointer;
		background: none;
	}
	.teploizol_form_main .remove-form-btn:active {
		fill: rgb(252, 56, 56);
		outline: none;
		border: none;
		cursor: pointer;
		background: none;
	}
	.teploizol_form_main .copy-form:focus {
		fill: rgb(21, 158, 21);
		outline: #3ac162;
		border: none;
		cursor: pointer;
		background: #3ac162;
	}
	.teploizol_form_main .remove-form-btn:focus {
		fill: rgb(252, 56, 56);
		outline: #3ac162;
		border: none;
		cursor: pointer;
		background: #3ac162;
	}
	
	.teploizol_form_main .bg_fon_roof {
		background-color: #b1ddb1;
		background-image: -o-linear-gradient(315deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	}
	.teploizol_form_main .bg_fon_roof2 {
		background-color: #b1ddb1;
		background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	}

	.teploizol_form_main .roof {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.teploizol_form_main .roof_title__h2 {

		width: auto;
		margin: 20px 0;
		text-align: center;
		color: white;
		border-bottom: 3px solid #39a759bd;
		padding: 10px;
		background-color: #4bc970;
		border-top-left-radius: 4px;
		border-top-right-radius: 5px;
		font-size: 19px;
	}

	.teploizol_form_main .roof__type {
		width: 300px;
     	margin: 0 auto;
	}

	.teploizol_form_main .dvuskat_roof,
	.teploizol_form_main .odnoskat_roof,
	.teploizol_form_main .shatr_roof,
	.teploizol_form_main .valm_roof  {
		width: 300px;
		margin: 1px;
		margin: 0 auto;
	}

	.teploizol_form_main .dvuskat_roof__form,
	.teploizol_form_main .odnoskat_roof__form,
	.teploizol_form_main .shatr_roof__form,
	.teploizol_form_main .valm_roof__form {
		position: relative;
		width: 295px;
		background-color: #f9fafa;
    	border: 0.5px solid rgb(21 158 21 / 7%);
		border-radius: 4px;
		-webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0);
		box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0);
		margin: 2px;
	}

	.teploizol_form_main .dvuskat_roof__checkbox,
	.teploizol_form_main .odnoskat_roof__checkbox,
	.teploizol_form_main .shatr_roof__checkbox,
	.teploizol_form_main .valm_roof__checkbox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px 5px;
		align-items: center;
		padding: 0 7px 0 7px;
	}

	.teploizol_form_main .checkbox__wrp {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 10px 10px;
		background: #7bb37b6b;
    	padding: 8px 6px;
    	text-transform: uppercase;
    	color: #ffffff;
    	font-size: 13px;
		border-radius: 5px;
		text-align: center;
	}

