
body {
	font-family: Arial, sans-serif;
	line-height: 20px;
}

.teploizol_form_main .hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


.angry-animate{
	-webkit-animation:bounce-out 0.6s ease 0s 1 normal;
	-moz-animation:bounce-out 0.6s ease 0s 1 normal;
	-ms-animation:bounce-out 0.6s ease 0s 1 normal;
	animation:bounce-out 0.6s ease 0s 1 normal;
	}
	
	@-webkit-keyframes bounce-out {
	0%{ -webkit-transform: scale(1); transform: scale(1); }
	50%{ -webkit-transform: scale(0.90); transform: scale(0.90); }
	70%{ opacity: 1; -webkit-transform: scale(1.1); transform: scale(1.1); }
	100%{ opacity: 0; -webkit-transform: scale(0.3); transform: scale(0.3); }
	}
	
	@keyframes bounce-out {
	0%{ transform: scale(1); }
	50%{ transform: scale(0.90); }
	70%{ opacity: 1; transform: scale(1.1); }
	100%{ opacity: 0; transform: scale(0.3); }
	}




* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.teploizol_form_main {
	width: 300px;
	margin: 0 auto;
}

.teploizol_form_main input[placeholder] {
	font-family: OpenSans;
	text-indent: 3px;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.teploizol_form_main  .input_label {
	font-size: 14px;
}

.teploizol_form_main  .nomer_formy {
    font-weight: 600;
    color: #525252;
}

/* Нумерация форм начало*/
.teploizol_form_main .scetchik_formy {
	counter-reset: items;
}

.teploizol_form_main .nomer_formy::after {
	content: counter(items);
	counter-increment: items;
}
/* Нумерация форм конец*/

/*кастомный чекбокс2 - начало*/
	
.teploizol_form_main  .cbx {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.teploizol_form_main  .cbx span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.teploizol_form_main  .cbx span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #9098A9;
	transition: all .2s ease;
}

.teploizol_form_main  .cbx span:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all .3s ease;
	transition-delay: .1s;
	transform: translate3d(0, 0, 0);
}

.teploizol_form_main  .cbx span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background:#4bc970;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
}

.teploizol_form_main  .cbx span:last-child {
	padding-left: 8px;
}

.teploizol_form_main  .cbx:hover span:first-child {
	border-color: #4bc970;
}

.teploizol_form_main  .inp-cbx:checked + .cbx span:first-child {
	background:#4bc970;
	border-color:#4bc970;
	animation: wave .4s ease;
}

.teploizol_form_main  .inp-cbx:checked + .cbx span:first-child svg {
	stroke-dashoffset: 0;
}

.teploizol_form_main  .inp-cbx:checked + .cbx span:first-child:before {
	transform: scale(1.5);
	opacity: 0;
	transition: all .6s ease;
}

@keyframes wave {
	50% {
		transform: scale(0.9);
	}
}	
/*кастомный чекбокс2 - конец*/


/*кастомный чекбокс (начало)*/

.teploizol_form_main .custom-lable {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.teploizol_form_main .checkboxs-lable-title {
	font-weight: 600;
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom: 10px;
}


.teploizol_form_main label.custom-lable>input {
	display: none;
}

.teploizol_form_main label.custom-lable i.custom-i {
	padding: 2px;
	width: 40px;
	height: 20px;
	border-radius: 13px;
	vertical-align: middle;
	-webkit-transition: 0.15s 0.09s;
	-o-transition: 0.15s 0.09s;
	transition: 0.15s 0.09s;
	position: relative;
	background: #869e86;
	-webkit-box-sizing: initial;
	        box-sizing: initial;
	margin-bottom: 10px;
}

.teploizol_form_main label.custom-lable i.custom-i:after {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 2px;
	/*top: 1.5px;*/
	-webkit-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}

.teploizol_form_main label.custom-lable>input:checked+i.custom-i {
	background: #4bd865;
}

.teploizol_form_main label.custom-lable>input:checked+i.custom-i:after {
	-webkit-transform: translateX(20px);
	    -ms-transform: translateX(20px);
	        transform: translateX(20px);
}

.teploizol_form_main label.custom-lable:hover {
	cursor: pointer;
}
/*кастомный чекбокс (конец)*/



.teploizol_form_main .podskazka {
		display: none;
		position: absolute;
		border-radius: 4px;
		right: 42px;
		top: 44px;
		background-color: #4bc970;
		color: rgb(255 255 255);
		padding: 5px;
		text-align: center;
		-webkit-box-shadow: 0 1px 1px rgb(61 175 95);
		        box-shadow: 0 1px 1px rgb(61 175 95);
		font-size: 12px;
		z-index: 3;
	}

	.teploizol_form_main .podskazka::after {
		content: '';
		position: absolute;
		left: 74px;
		bottom: 8px;
		border: 6px solid transparent;
		border-left: 10px solid #4bc970;

		}

/*анимация пдсказки на кнопке копировать*/
	.teploizol_form_main .su_icon-copy:hover+.podskazka {
		display: block;		
		-webkit-animation:flipiny 1.2s ease 0s 1 normal;
		-moz-animation:flipiny 1.2s ease 0s 1 normal;
		-ms-animation:flipiny 1.2s ease 0s 1 normal;
		animation:flipiny 1.2s ease 0s 1 normal;
		}
		
		@-webkit-keyframes flipiny {
		0%{ opacity: 0; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(90deg); }
		40%{ -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(-10deg); }
		70%{ -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(10deg); }
		100%{ opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); }
		}
		
		@keyframes flipiny {
		0%{ opacity: 0; transform: perspective(400px) rotateY(90deg); }
		40%{ transform: perspective(400px) rotateY(-10deg); }
		70%{ transform: perspective(400px) rotateY(10deg); }
		100%{ opacity: 1; transform: perspective(400px) rotateY(0deg); }
		}

	/*подсказка 2 (начало)*/
	.teploizol_form_main .input-quest_wrp {
		display: grid;
		grid-template-columns: 5fr 1fr;
		align-items: center;
	}

	.teploizol_form_main .quest_wrp {
		display: none;
		width: 200px;
		position: absolute;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: #4bc970;
		color: rgb(255 255 255);
		padding: 5px;
		text-align: center;
		-webkit-box-shadow: 0 1px 1px rgb(61 175 95);
		box-shadow: 0 1px 1px rgb(61 175 95);
		font-size: 10.5px;
		line-height: 12px;
		margin: -80px 0 0 0;
		left: 16px;
	}

	.teploizol_form_main .fa-question-circle {
		color: #4c99e8;
		font-size: 28px;
		
	}
	.teploizol_form_main .fa-question-circle1 {
	margin: 0 0 5px 0;
}

	.teploizol_form_main .fa-question-circle:hover {
		color: #4bc970;
		cursor: pointer;
	}
	.teploizol_form_main .quest_wrp::after {
		content: '';
		position: absolute;
		right: 6px;
		top: 111px;
		transform: rotate(119deg);
		border-top: 10px solid transparent;
		border-right: 8px solid #4bc970;
		border-bottom: 28px solid transparent;
	}

	.teploizol_form_main .fa-question-circle:hover+.quest_wrp {
		margin: -137px 0 0 4px;
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 2fr 0.5fr;
		-webkit-animation:bounce-in 0.3s ease 0s 1 normal;
		-moz-animation:bounce-in 0.3s ease 0s 1 normal;
		-ms-animation:bounce-in 0.3s ease 0s 1 normal;
		animation:bounce-in 0.3s ease 0s 1 normal;
		}
		
		@-webkit-keyframes bounce-in {
		0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
		50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
		70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
		100%{ -webkit-transform: scale(1); transform: scale(1); }
		}
		
		@keyframes bounce-in {
		0%{ opacity: 0; transform: scale(.3); }
		50%{ opacity: 1; transform: scale(1.0); }
		70%{ transform: scale(0.9); }
		100%{ transform: scale(1); }
		}

		.img__quest2 {
			margin: 0 auto;
		}
	/*подсказка 2 (конец)*/
/* вывод дата атрибутов на страницу
	.input_label-wrp:hover::after {
		content: attr(data-name);
	}
*/
	/*подсказка 3 (начало)*/

	.teploizol_form_main .fa-question-circle2 {
		color: #9fa5ab;
		font-size: 14px;
	}



	.img__quest3 {
		margin: 0 0 0 -5px;
	}

	.teploizol_form_main .quest_wrp3 {
	display: none;
    width: 120px;
    position: absolute;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #4bc970;
    -webkit-box-shadow: 0 1px 1px rgb(61 175 95);
    box-shadow: 0 1px 1px rgb(61 175 95);
    left: 32px;

}

.teploizol_form_main .fa-question-circle:hover+.quest_wrp3 {
	margin: -125px 0 0px 108px;
    display: grid;
    grid-template-columns: 1fr;
    -webkit-animation: bounce-in 0.3s ease 0s 1 normal;
    -moz-animation: bounce-in 0.3s ease 0s 1 normal;
    -ms-animation: bounce-in 0.3s ease 0s 1 normal;
    animation: bounce-in 0.3s ease 0s 1 normal;
	}

	.teploizol_form_main .quest_wrp3::after {
		content: '';
		position: absolute;
		left: -4px;
		top: 80px;
		transform: rotate(53deg);
		border-top: 4px solid transparent;
		border-right: 14px solid #4bc970;
		border-bottom: 23px solid transparent;
	}

	/*подсказка 3 (конец)*/

	.teploizol_form_main form {
		width: 300px;
		margin: 10px auto;
		padding: 10px 20px;
		background: #f4f7f8;
		border-radius: 8px;
	}
	
	.teploizol_form_main .input-style {
		background: rgba(255, 255, 255, 0.1);
		border: none;
		border-radius: 4px;
		font-size: 16px;
		height: auto;
		margin: 0;
		outline: 0;
		padding: 7px;
		width: 95%;
		background-color: #e8eeefb0;
		color: #8a97a0;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		margin-bottom: 5px;
	}

	.teploizol_form_main .input-style:hover {
		background: rgb(224, 236, 236);
	}
	.teploizol_form_main .input-style:active {
		background: rgb(229, 240, 240);
	}
	.teploizol_form_main .input-style:focus {
		outline: rgb(84, 165, 46);
	}
	/* Убираются стрелочки у input[type=number] */
	.teploizol_form_main input[type="number"]::-webkit-outer-spin-button,
	.teploizol_form_main input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.teploizol_form_main input[type="number"] {
		-moz-appearance: textfield;
	}
	.teploizol_form_main input[type="number"]:hover,
	.teploizol_form_main input[type="number"]:focus {
		-moz-appearance: number-input;
	}
	.teploizol_form_main input[type=number]::-webkit-inner-spin-button,
	.teploizol_form_main input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	select.select-selected.input-style {
		width: 198x;
	}

/*иконка в input - начало*/
	.inputWithIcon input[type="number"] {
		padding-left: 40px;
	  }

 
	  
	  .inputWithIcon {
		position: relative;
	  }
	  
	  .inputWithIcon i {
		position: absolute;
		left: 0px;
	  }

	  .inputWithIcon.inputIconBg i {
		background-color: #aaaaaa3d;
		color: #fff;
		padding: 8px 8px;
		border-radius: 4px 0 0 4px;
		box-shadow: 0 1px 0 rgb(222 222 222 / 40%) inset;
	  }

	  .inputWithIcon.inputIconBg .input-style:hover + i {
		color: #fff;
		background-color: rgb(200 222 222);
		transition: 0.3s;
	  }
	  
	  .inputWithIcon.inputIconBg .input-style:focus + i {
		color: #fff;
		background-color: #4bc970;
		transition: 0.7s;
	  }
	  /*иконка в input - конец*/

	
	.teploizol_form_main input[type="radio"],
	.teploizol_form_main input[type="checkbox"] {
		margin: 0 4px 8px 0;
	} 

	.teploizol_form_main select {
		padding: 6px;
		height: 32px;
		border-radius: 2px;
	}

.teploizol_form_main .karkas_material {
    margin: 10px 10px 15px 10px
}

.teploizol_form_main .checkbox2_items {
    margin-left: 10px;
}


.teploizol_form_main .add-icon {
	font-size: 18px;
}

	.teploizol_form_main .add-form-btn {
		width: 250px;
		text-align: left;
		background-color: #4bc970;
		color: white;
		font-size: 16px;
		padding: 8px 8px 8px 12px;
		margin: 14px 0 8px 0;
		display: grid;
		grid-template-columns: 30px 220px;
		align-items: end;
		border: 0.5px solid #31c15c;
		outline: none;
		border-radius: 4px;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		cursor: pointer;
	}
	.teploizol_form_main .show-form-btn {
		width: 250px;
		text-align: left;
		background-color: #d8d9db;
		color: white;
		font-size: 16px;
		padding: 8px 8px 8px 12px;
		margin: 14px 0 8px 0;
		display: grid;
		grid-template-columns: 30px 220px;
		align-items: end;
		border: 0.5px solid #c0c0c0;
		outline: none;
		border-radius: 4px;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		cursor: pointer;
	}
	.teploizol_form_main .add-form-btn:hover {
		background-color: #31c15c;
		cursor: pointer;
	}

	.teploizol_form_main .add-form-btn:active {
		background-color: #4bc970;
		cursor: pointer;
	}
	.teploizol_form_main .show-form-btn:hover {
		background-color: #cccccc;
		color: rgb(255, 255, 255);
	}
	.teploizol_form_main .show-form-btn:active {
		background-color: #09d5db;
		color: rgb(254, 254, 254);
		border: 0.5px solid #1ec6cc;
		outline: none;
		border-radius: 4px;
		border-width: 1px 1px 3px;
		-webkit-box-shadow: 0 -1px 0 #1dd2d9 inset;
		box-shadow: 0 -1px 0 #1dd2d9 inset;
	}

	.teploizol_form_main  i.su_icon-delete {
		position: absolute;
		right: 4px;
		font-size: 25px;
	}

	.teploizol_form_main i.su_icon-copy {
		position: absolute;
		right: 4px;
		top: 47px;
		font-size: 26px;
	}

/*
	.teploizol_form_main .copy-form {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: none;
		cursor: pointer;
		background: none;
		display: block;
		border: none;
		cursor: pointer;
		background: none;
		margin: 41px 10px 0 0px;
	}
	.teploizol_form_main .su_icon-delete1 {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: none;
		cursor: pointer;
		background: none;
		display: block;
		border: none;
		cursor: pointer;
		background: none;
		margin: 7px 10px 0 0px;
	}*/

	.teploizol_form_main i.su_icon-copy:hover {
		color: rgb(21, 158, 21);
		border: none;
		cursor: pointer;
		background: none;
	}

	.teploizol_form_main i.su_icon-copy:focus {
		color: rgb(21, 158, 21);
		outline: #3ac162;
		border: none;
		cursor: pointer;
		background: #3ac162;
	}

	.teploizol_form_main  i.su_icon-delete:hover {
		color: red;
		outline: none;
		border: none;
		cursor: pointer;
		background: none;
	}
	.teploizol_form_main  i.su_icon-delete:active {
		color: rgb(252, 56, 56);
		outline: none;
		border: none;
		cursor: pointer;
		background: none;
	}

	.teploizol_form_main  i.su_icon-delete:focus {
		color: rgb(252, 56, 56);
		outline: #3ac162;
		border: none;
		cursor: pointer;
		background: #3ac162;
	}



	
	.teploizol_form_main .bg_fon_roof {
		background-color: #b1ddb1;
		background-image: -o-linear-gradient(315deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.teploizol_form_main .bg_fon_roof2 {
		background-color: #b1ddb1;
		background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.teploizol_form_main .roof,
	.teploizol_form_main .walls,
	.teploizol_form_main .perekritie,
	.teploizol_form_main .fundament {
		display: grid;
    	grid-template-columns: 1fr;
    	align-items: center;
		/*display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;*/
	}
	/*
	.teploizol_form_main .roof_title__h2,
	.teploizol_form_main .wall_title__h2,
	.teploizol_form_main .perekrit_title__h2,
	.teploizol_form_main .fundam_title__h2 {
		width: auto;
		margin: 20px 0;
		text-align: center;
		color: white;
		border-bottom: 3px solid #39a759bd;
		padding: 10px;
		background-color: #4bc970;
		border-top-left-radius: 4px;
		border-top-right-radius: 5px;
		font-size: 19px;
	}
*/
	.teploizol_form_main .roof__type,
	.teploizol_form_main .wall__type,
	.teploizol_form_main .perekrit__type,
	.teploizol_form_main .fundam__type {
		display: grid;
		grid-gap: 1px 1px;
	}

	.teploizol_form_main .dvuskat_roof,
	.teploizol_form_main .odnoskat_roof,
	.teploizol_form_main .shatr_roof,
	.teploizol_form_main .valm_roof,
	.teploizol_form_main .mansard_roof,
	.teploizol_form_main .karkas_wall,
	.teploizol_form_main .karkas_window,
	.teploizol_form_main .karkas_door,
	.teploizol_form_main .stone_wall,
	.teploizol_form_main .stone_window,
	.teploizol_form_main .stone_door,
	.teploizol_form_main .peregor_wall,
	.teploizol_form_main .peregor_window,
	.teploizol_form_main .peregor_door,
	.teploizol_form_main .perekrit_wood,
	.teploizol_form_main .perekrit_stone,
	.teploizol_form_main .fundam_plita,
	.teploizol_form_main .fundam_lenta,
	.teploizol_form_main .fundam_shved {
		margin: 1px;
	}

	.teploizol_form_main .dvuskat_roof__form,
	.teploizol_form_main .odnoskat_roof__form,
	.teploizol_form_main .shatr_roof__form,
	.teploizol_form_main .valm_roof__form,
	.teploizol_form_main .mansard_roof__form,
	.teploizol_form_main .karkas_wall__form,
	.teploizol_form_main .karkas_window__form,
	.teploizol_form_main .karkas_door__form,
	.teploizol_form_main .stone_wall__form,
	.teploizol_form_main .stone_window__form,
	.teploizol_form_main .stone_door__form,
	.teploizol_form_main .peregor_wall__form,
	.teploizol_form_main .peregor_window__form,
	.teploizol_form_main .peregor_door__form,
	.teploizol_form_main .perekrit_wood__form,
	.teploizol_form_main .perekrit_stone__form,
	.teploizol_form_main .fundam_plita__form,
	.teploizol_form_main .fundam_lenta__form,
	.teploizol_form_main .fundam_shved__form {
		position: relative;
		width: 295px;
		background-color: #f9fafa;
    	border: 0.5px solid rgb(21 158 21 / 7%);
		border-radius: 4px;
		-webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0);
		box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0);
		margin: 2px;

		/*анимация при добавлении формы*/
		-webkit-animation:bounce-in 0.4s cubic-bezier(0.60,1,1,1) 0s 1 normal;
		-moz-animation:bounce-in 0.4s cubic-bezier(0.60,1,1,1) 0s 1 normal;
		-ms-animation:bounce-in 0.4s cubic-bezier(0.60,1,1,1) 0s 1 normal;
		animation:bounce-in 0.4s cubic-bezier(0.60,1,1,1) 0s 1 normal;
		}
		
		@-webkit-keyframes bounce-in {
		0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
		50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
		70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
		100%{ -webkit-transform: scale(1); transform: scale(1); }
		}
		
		@keyframes bounce-in {
		0%{ opacity: 0; transform: scale(.3); }
		50%{ opacity: 1; transform: scale(1.0); }
		70%{ transform: scale(0.9); }
		100%{ transform: scale(1); }
		}

	.teploizol_form_main .dvuskat_roof__checkbox,
	.teploizol_form_main .odnoskat_roof__checkbox,
	.teploizol_form_main .shatr_roof__checkbox,
	.teploizol_form_main .valm_roof__checkbox,
	.teploizol_form_main .mansard_roof__checkbox,
	.teploizol_form_main .karkas_wall__checkbox,
	.teploizol_form_main .stone_wall__checkbox,
	.teploizol_form_main .peregor_wall__checkbox,
	.teploizol_form_main .perekrit_wood__checkbox,
	.teploizol_form_main .perekrit_stone__checkbox,
	.teploizol_form_main .fundam_plita__checkbox,
	.teploizol_form_main .fundam_lenta__checkbox,
	.teploizol_form_main .fundam_shved__checkbox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px 5px;
		align-items: center;
		padding: 0 5px 0 3px;
	}

	.teploizol_form_main .checkbox__wrp {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 10px 10px;
		background: #7bb37b6b;
    	padding: 8px 6px;
    	text-transform: uppercase;
    	color: #ffffff;
    	font-size: 13px;
		border-radius: 5px;
		text-align: center;
	}

	.teploizol_form_main .fundam_shved__span {
		font-size: 12px;
	}

	.teploizol_form_main .fundam__h2,
	.teploizol_form_main .perekrit__h2,
	.teploizol_form_main .wall__h2,
	.teploizol_form_main .roof__h2 {
		margin: 10px 0;
	}

	.teploizol_form_main .img__roof {
		fill: white;
	}

	/*Начало аккордеон*/

.teploizol_form_main button.accordion {
	display: grid;
	grid-template-columns: 30px 1fr 20px;
	align-items: center;
	cursor: pointer;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.3s;		
	margin: 0 0;
	text-align: left;
	color: white;
	border-bottom: 3px solid #39a759bd;
	padding: 10px;
	background-color: #4bc970;
	border-top-left-radius: 4px;
	border-top-right-radius: 5px;
	font-size: 16px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.teploizol_form_main button.accordion:hover {
	background-color: #3ac162;
	transition: max-height 0.8s ease-out;
	height: 100%;
}

.teploizol_form_main button.accordion:focus {
	background-color: #2ab453;
	transition: max-height 0.8s ease-out;
	height: 100%;
}

/* Style the accordion panel. Note: hidden by default */
.teploizol_form_main .panel {
	max-height: 0;
	overflow: hidden;
}

.teploizol_form_main .accordion:after {
	content: '\2630'; /* Unicode character for "plus" sign (+) */
	}

.teploizol_form_main .active:after {
	content: "\2718"; /* Unicode character for "minus" sign (-) */
	}
	/*конец аккордеон*/

	@media only screen and (min-width: 400px) {
		.teploizol_form_main {
			width: 400px;
			margin: 0 auto;
		}

		.teploizol_form_main .dvuskat_roof__form,
		.teploizol_form_main .odnoskat_roof__form,
		.teploizol_form_main .shatr_roof__form,
		.teploizol_form_main .valm_roof__form,
		.teploizol_form_main .mansard_roof__form,
		.teploizol_form_main .karkas_wall__form,
		.teploizol_form_main .karkas_window__form,
		.teploizol_form_main .karkas_door__form,
		.teploizol_form_main .stone_wall__form,
		.teploizol_form_main .stone_window__form,
		.teploizol_form_main .stone_door__form,
		.teploizol_form_main .peregor_wall__form,
		.teploizol_form_main .peregor_window__form,
		.teploizol_form_main .peregor_door__form,
		.teploizol_form_main .perekrit_wood__form,
		.teploizol_form_main .perekrit_stone__form,
		.teploizol_form_main .fundam_plita__form,
		.teploizol_form_main .fundam_lenta__form,
		.teploizol_form_main .fundam_shved__form {
			width: 390px;
		}

		.teploizol_form_main .dvuskat_roof__checkbox, 
		.teploizol_form_main .odnoskat_roof__checkbox, 
		.teploizol_form_main .shatr_roof__checkbox,
		.teploizol_form_main .valm_roof__checkbox,
		.teploizol_form_main .mansard_roof__checkbox,
		.teploizol_form_main .karkas_wall__checkbox,
		.teploizol_form_main .stone_wall__checkbox,
		.teploizol_form_main .peregor_wall__checkbox,
		.teploizol_form_main .perekrit_wood__checkbox,
		.teploizol_form_main .perekrit_stone__checkbox,
		.teploizol_form_main .fundam_plita__checkbox,
		.teploizol_form_main .fundam_lenta__checkbox,
		.teploizol_form_main .fundam_shved__checkbox {
			padding: 0 25px 0 25px;
		}

		.teploizol_form_main .checkbox2_items {
			margin-left: 10px;
			margin-bottom: 2px;
		}

		.teploizol_form_main .fa-question-circle:hover+.quest_wrp {
			margin: -137px 0 0 88px;
		}
	}

	@media only screen and (min-width: 480px) {
		.teploizol_form_main {
			width: 470px;
		}

		.teploizol_form_main button.accordion {
			width: 470px;
			grid-template-rows: 30px;
		}

		.teploizol_form_main .dvuskat_roof__form,
		.teploizol_form_main .odnoskat_roof__form,
		.teploizol_form_main .shatr_roof__form,
		.teploizol_form_main .valm_roof__form,
		.teploizol_form_main .mansard_roof__form,
		.teploizol_form_main .karkas_wall__form,
		.teploizol_form_main .karkas_window__form,
		.teploizol_form_main .karkas_door__form,
		.teploizol_form_main .stone_wall__form,
		.teploizol_form_main .stone_window__form,
		.teploizol_form_main .stone_door__form,
		.teploizol_form_main .peregor_wall__form,
		.teploizol_form_main .peregor_window__form,
		.teploizol_form_main .peregor_door__form,
		.teploizol_form_main .perekrit_wood__form,
		.teploizol_form_main .perekrit_stone__form,
		.teploizol_form_main .fundam_plita__form,
		.teploizol_form_main .fundam_lenta__form,
		.teploizol_form_main .fundam_shved__form {
			width: 465px;
		}

		.teploizol_form_main .dvuskat_roof__checkbox, 
		.teploizol_form_main .odnoskat_roof__checkbox, 
		.teploizol_form_main .shatr_roof__checkbox,
		.teploizol_form_main .valm_roof__checkbox,
		.teploizol_form_main .mansard_roof__checkbox,
		.teploizol_form_main .karkas_wall__checkbox,
		.teploizol_form_main .stone_wall__checkbox,
		.teploizol_form_main .peregor_wall__checkbox,
		.teploizol_form_main .perekrit_wood__checkbox,
		.teploizol_form_main .perekrit_stone__checkbox,
		.teploizol_form_main .fundam_plita__checkbox,
		.teploizol_form_main .fundam_lenta__checkbox,
		.teploizol_form_main .fundam_shved__checkbox {
			padding: 0 30px 0 30px;
		}

		.teploizol_form_main .input_label-wrp {
			width: 210px;
		}

		.teploizol_form_main .odnoskat_roof__groups_item-wrp,
		.teploizol_form_main .dvuskat_roof__groups_item-wrp,
		.teploizol_form_main .shatr_roof__groups_item-wrp,
		.teploizol_form_main .valm_roof__groups_item-wrp,
		.teploizol_form_main .mansard_roof__groups_item-wrp {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 10px;
		}

		.teploizol_form_main .input_label__groups-wrp {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.teploizol_form_main .group_item-first {
			display: flex;
		}

		.teploizol_form_main .group_item-second {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 10px;
			gap: 4px;
		}

		.teploizol_form_main .group_item-tree {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5px;
			margin-top: 10px;

		}

		.teploizol_form_main .fa-question-circle:hover+.quest_wrp {
			margin: -137px 0 0 -22px;
		}





	}
